*~
*.o
*.lo
*.la
*.bz2
*.swp
ABOUT-NLS
Makefile
Makefile.in*
configure
compile
config.*
aclocal.m4
depcomp
install-sh
INSTALL
libtool
ltmain.sh
missing
mkinstalldirs
POTFILES
.dirstamp
stamp-*
.deps
.libs
autom4te.cache
intltool-*
po/.intltool-merge-cache
po/*.gmo
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/Makevars.template
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/Rules-quot
po/insert-header.sed
m4/build-to-host.m4
m4/gettext.m4
m4/gtk-doc.m4
m4/host-cpu-c-abi.m4
m4/iconv.m4
m4/intlmacosx.m4
m4/intltool.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lt*.m4
m4/nls.m4
m4/po.m4
m4/progtest.m4
appdata/network-manager-openvpn.metainfo.xml
gtk4/*

/cscope.files
/cscope.in.out
/cscope.out
/cscope.po.out

/test-driver
*/tests/*.log
*/tests/*.trs
test-*.log

auth-dialog/nm-openvpn-auth-dialog
nm-openvpn-service.name
nm-openvpn.desktop
nm-openvpn-sysusers.conf
nm-openvpn-tmpfiles.conf
src/nm-openvpn-service
src/nm-openvpn-service-openvpn-helper
properties/tests/test-import-export
properties/tests/test-import-export-glib
properties/resources.[ch]
/NetworkManager-openvpn*.tar*
/po/NetworkManager-openvpn.pot
